<div class="card card-outline-info ">
    <div class="card-header">
       User Comments
    </div>
    <div class="card-block">
       <ul class="list-group">
          <li class="list-group-item comment">
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. <br/>
             - Ajay [15 Oct 2017]
          </li>
          <li class="list-group-item comment">
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.            
          </li>
       </ul>
    </div>
 </div>