 <!DOCTYPE html>
<html>
<head>
<title>About Us</title>
<link rel="stylesheet" type="text/css" href="AboutPage.css">
</head>
<body>

	<div id="aboutsection" class="aboutdev aboutdev-default customaboutdev">
    <div class="aboutdevheader">
      <div id="devSection">
        <table style="width:80%;" align="center">
        <tr>
        <td>
          <div id=dev1>
          	<p  class = "devname">Apoorv Khairnar</p>
            <p  class = "devrole">Backend Developer</p>
              <p class = "devpic"><img src="https://media-exp2.licdn.com/media/p/5/005/05b/1c4/15227f6.jpg" height="120px" width="130px" border="1px"></p>
              <p class = "devabout">I am a graduate student at Arizona State University and currently pursuing my Master's in Software Engineering who is proficient in containerization of linux tools / softwares, web server management, web applications development, efficient server implementation, effective handling of client-server communication, REST APIs development, database management and graphics pipeline, openGL, agile methods. I am a computer science engineer who is mathematics expert and technology adroit. A very influential leader and a motivating teacher with excellent communication skills with clients, team members and students. An organized and self-motivated person who works well under pressure, always keeps a positive environment in team and has supportive attitude to deliver product under deadline.</p>
          </div>
        </td>
        </tr>

        <hr>

        <tr>
        <td>
          <div id=dev2>
          	<p  class = "devname">Pushkar Ladhe</p>
            <p class = "devrole">Backend Developer</p>
              <p class = "devpic"><img src="https://media-exp2.licdn.com/media/AAMABADuAAgAAQAAAAAAABFRAAAAJDFmOWQwZmIxLTQ5NDQtNDY0OC1hMjRlLTY5OTEzYjA1M2QzZg.bin" height="120px" width="130px" border="1px"></p>
              <p class = "devabout">A graduate student in Software Engineering with 2+ years of professional experience in developing robust applications using Java, Spring, Hibernate, REST and Microservices. Also, having advanced knowledge and hands-on experience in distributed computing using Hadoop, Spark, MapReduce, and Kafka. Worked on JavaScript frameworks like Node.js, Express.js, vue.js, and jQuery.</p>
          </div>
        </td>
        </tr>

        <hr>

        <tr>
        <td>
          <div id=dev3>
          	<p  class = "devname">Rajat Sinha</p>
            <p class = "devrole">UI Designer/MOM writer</p>
              <p class = "devpic"><img src="https://webapp4.asu.edu/photo-ws/directory_photo/rsinha13?blankImage=false&size=medium" height="120px" width="130px" border="1px"></p>
              <p class = "devabout">Determined and self-motivated software engineering graduate student with 3 years of work experience in the field of Computer Vision – software development.</p>
          </div>
        </td>
        </tr>

        <hr>

        <tr>
        <td>
          <div id=dev4>
          	<p  class = "devname">Pranjal Karankar</p>
            <p class = "devrole">Frontend Developer</p>
              <p class = "devpic"><img src="https://media-exp2.licdn.com/media/AAMAAwDGAAwAAQAAAAAAABGCAAAAJGVkZTBkNThlLWI1MGQtNDVkOS1hNTgxLWM1OWMzOGZlZTQyOA.jpg" height="120px" width="130px" border="1px"></p>
              <p class = "devabout">I am a software engineering graduate student at Arizona State University. Prior joining ASU, I worked as an associate software engineer at Accenture and served client with best of my technical ability. My interests in graduate education include service oriented computing, model-driven software development, data structures and algorithms and software engineering processes and management.
I am also a blockchain enthusiast and work as a blockchain developer with the Blockchain Innovation Society at ASU. </p>
          </div>
        </td>
        </tr>

        <hr>

        <tr>
        <td>
          <div id=dev5>
          	<p  class = "devname">Sachin Magar</p>
            <p class = "devrole">Backend Developer</p>
              <p class = "devpic"><img src="https://media-exp2.licdn.com/media/AAEAAQAAAAAAAAw4AAAAJGI3YTI4YzBjLWQ2NDEtNDM0Yi05NTVhLTBjNGRiYWMxYzVjMw.jpg" height="120px" width="130px" border="1px"></p>
              <p class = "devabout">Software Engineering Graduate student with expertise in Java, Python and Web Development. Enthusiastic about Distributed Computing and Machine Learning.</p>
          </div>
        </td>
        </tr>

        <hr>

        <tr>
        <td>
          <div id=dev6>
          	<p  class = "devname">Abhishek Dutta</p>
            <p class = "devrole">Backend Developer</p>
              <p class = "devpic"><img src="https://media-exp2.licdn.com/media/AAEAAQAAAAAAAAimAAAAJDQ4N2I2MDgzLWJhYzItNDM3NS05YTdmLTZiY2Q4NjMyMjcxOA.jpg" height="120px" width="130px" border="1px"></p>
              <p class = "devabout">I am a Master's student at Arizona State University majoring in Software Engineering. I am currently looking for full-time opportunity specific to my domain so that i can use my knowledge and apply my learning to the real world scenario. Currently, working on AWS to migrate the complete infrastructure in the lab as a part of DevOps role. Securing the infrastructure and applications hosted by scanning them for vulnerabilities, penetration testing and fixing them as a part of security role. Also, have worked on building web based applications on Java and Python. In the past, i even got chance to work on the Application Server Weblogic, towards its administration and monitoring. Worked on the security aspects as well using SSL, certificates installation and configurations.</p>
          </div>
        </td>
        </tr>

        <hr>

        <tr>
        <td>
          <div id=dev7>
            <p  class = "devname">Chiraag Subramanian</p>
            <p class = "devrole">Frontend Developer</p>
              <p class = "devpic"><img src="https://media-exp2.licdn.com/media/AAEAAQAAAAAAAAgwAAAAJDczNjQ1N2FmLWI1MTMtNGE5Yi04ZmE5LWUwZmUxNzJmMTU5Mw.jpg" height="120px" width="130px" border="1px"></p>
              <p class = "devabout">I am a Software Engineering graduate at Arizona State University majoring in Software Engineering. I have 3 years of work experience with Full-stack development.</p>
          </div>
        </td>
        </tr>

        <hr>

        </table>
      </div>
    </div>

  </div>

</body>
</html> 