 <!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="AboutPage.css">
<title>About Us</title>
</head>

<body style="font-family: Arial;">

	<div class="navigation-bar">
        <div id="navigation-container">
			<a>
				<img class="logo" src="showMeLogo.png">
			</a>
            <ul>
			  <li><a class="active" href="#home">Home</a></li>
			  <li><a href="#news">News</a></li>
			  <li><a href="#contact">Contact</a></li>
			  <li><a href="#about">About</a></li>
			</ul>
        </div>
    </div>


<div class="row">

<h1>About ShowMe</h1>

<p>
	Show Me is proposed to be a community driven application with the goal to enable researchers find related work (citations in the papers) and help fellow researchers by providing feedback on the citations.
</p>

<p>
	In the field of research and discovery, it is often cumbersome for the researchers to browse through different research papers and keep track of relations between them. It takes a lot of time and effort to study the paper and explore the cited work, since the researchers may not understand the extent of relevancy of the cited papers without reading them. This may hinder the progress of their research work.
</p>

<p>
	Show Me is a web application which will allow the users to browse and navigate through different categories of research papers and visualize relations among them as a network graph. Nodes in the network graph represents the papers and the edges represents the relations between the papers. Users can provide their feedback for the relations between papers in the form of comments. They also have the option to upvote or downvote the relations as per their understanding. The application is directed to the researchers as end users in their research area.
</p>

<br>


<h1>Meet The Team</h1>
<br>
  <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C4E03AQHvKMW3611fCQ/profile-displayphoto-shrink_800_800/0?e=1527490800&v=alpha&t=vlEZcohnh97avodKRl-yjqjflKANqfvhoCwitOtTo5o" alt="Apoorv Khairnar" style="width:100%">
      <div class="container">
        <h2>Apoorv Khairnar</h2>
        <p class="title">Backend Developer- Crawler</p>
        <p>Software Engineering graduate student at Arizona State University proficient in containerization of linux tools / softwares, web server management, web applications development, efficient server implementation, effective handling of client-server communication, REST APIs development, database management and graphics pipeline, openGL, agile methods.</p>
        <div class="email-icon"><i class="fas fa-envelope-square fa-lg"></i></div>
		<p>appukhairnar92@gmail.com</p>
        <div class="linkedin-github" >
		<a href="https://www.linkedin.com/in/apoorv-khairnar/" target="_blank"> <i style="padding-right:10px;" class="fab fa-linkedin fa-2x"></i> </a>
		<a href="https://github.com/Apoooorv" target="_blank"> <i class="fab fa-github-square fa-2x"></i> </a>
		</div>
		
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C5603AQHVnSzozphxAg/profile-displayphoto-shrink_800_800/0?e=1527487200&v=alpha&t=AGFtUPHrpUkg-PGYH3NO3o03YwRyRC9bS9DgGjC8qM4" alt="Pushkar Ladhe" style="width:100%">
      <div class="container">
        <h2>Pushkar Ladhe</h2>
        <p class="title">Backend Developer</p>
        <p>A graduate student in Software Engineering with 2+ years of experience in developing robust applications using Java, Spring, Hibernate, REST and Microservices. Also, having advanced knowledge and hands-on experience in distributed computing using Hadoop, Spark, MapReduce, and Kafka. Worked on JavaScript frameworks like Node.js, Express.js, vue.js, and jQuery.</p>
        <div class="email-icon"><i class="fas fa-envelope-square fa-lg"></i></div>
		<p>pladhe@asu.edu</p>
        <div class="linkedin-github" >
		<a href="https://www.linkedin.com/in/pladhe/" target="_blank"> <i style="padding-right:10px;" class="fab fa-linkedin fa-2x"></i> </a>
		<a href="https://github.com/shinigami1392" target="_blank"> <i class="fab fa-github-square fa-2x"></i> </a>
		</div>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C4E03AQEz-hwy5edSBA/profile-displayphoto-shrink_200_200/0?e=1527487200&v=alpha&t=lp2eN47TtG9a6IRr_lzbkdc_-WKrfdy3qdJ4Q-5yzdY" alt="Rajat Sinha" style="width:100%">
      <div class="container">
        <h2>Rajat Sinha</h2>
        <p class="title">Frontend Developer</p>
        <p>Determined and self-motivated software engineering graduate student with 3 years of work experience in the field of Computer Vision software development. Skilled in OpenCV, EmguCV, C#, Python and JAVA programming as well as C/C++. I also possess functional knowledge of MATLAB and Android development and have worked with Agile methods.</p>
        <div class="email-icon"><i class="fas fa-envelope-square fa-lg"></i></div>
		<p>rsinha13@asu.edu</p>
        <div class="linkedin-github" >
		<a href="https://www.linkedin.com/in/rajat-sinha/" target="_blank"> <i style="padding-right:10px;" class="fab fa-linkedin fa-2x"></i> </a>
		<a href="https://github.com/rajsjc" target="_blank"> <i class="fab fa-github-square fa-2x"></i> </a>
		</div>
      </div>
    </div>
  </div>
  
    <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C5603AQH7iOKdxzyvsg/profile-displayphoto-shrink_800_800/0?e=1527487200&v=alpha&t=ra6R5PEL9ifwGmg8tfnqjDiRr8JoV09QTYqRomX2Fi4" alt="Pranjal Karankar" style="width:100%">
      <div class="container">
        <h2>Pranjal Karankar</h2>
        <p class="title">Frontend Developer</p>
        <p>Software engineering graduate at Arizona State University. Prior joining ASU, I worked as an associate software engineer at Accenture and served client with best of my technical ability. My interests in graduate education include service oriented computing, model-driven software development, data structures and algorithms and software engineering processes and management.</p>
        <div class="email-icon"><i class="fas fa-envelope-square fa-lg"></i></div>
		<p>pkaranka@asu.edu</p>
        <div class="linkedin-github" >
		<a href="https://www.linkedin.com/in/pranjalk20/" target="_blank"> <i style="padding-right:10px;" class="fab fa-linkedin fa-2x"></i> </a>
		<a href="https://github.com/pranjalsk" target="_blank"> <i class="fab fa-github-square fa-2x"></i> </a>
		</div>
      </div>
    </div>
  </div>
  
    <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C5603AQEPqWEh3C3siQ/profile-displayphoto-shrink_800_800/0?e=1527487200&v=alpha&t=Q_siM70vqztTVwlDLUFaj52RUX1VuB_wg2-pa0ULU3E" alt="Sachin Magar" style="width:100%">
      <div class="container">
        <h2>Sachin Magar</h2>
        <p class="title">Frontend Developer & Unit Test</p>
        <p>Software Engineering Graduate student with expertise in Java, Python and Web Development. Enthusiastic about Distributed Computing and Machine Learning. Software Engineering Graduate student with expertise in Java, Python and Web Development. Enthusiastic about Distributed Computing and Machine Learning. Something else too to be inserted here.</p>
        <div class="email-icon"><i class="fas fa-envelope-square fa-lg"></i></div>
		<p>smagar@asu.edu</p>
        <div class="linkedin-github" >
		<a href="https://www.linkedin.com/in/sachin-magar/" target="_blank"> <i style="padding-right:10px;" class="fab fa-linkedin fa-2x"></i> </a>
		<a href="https://github.com/sachin-magar" target="_blank"> <i class="fab fa-github-square fa-2x"></i> </a>
		</div>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C5603AQHVIKhwLSb-WA/profile-displayphoto-shrink_800_800/0?e=1527490800&v=alpha&t=tljseVkiOg1AqFfeLbm82EITJ1pgTjtoZU2h-ln81hM" alt="Abhishek Dutta" style="width:100%">
      <div class="container">
        <h2>Abhishek Dutta</h2>
        <p class="title">Backend Developer & Unit Test</p>
        <p>Software Engineering graduate Arizona State University. Currently, working on AWS to migrate the complete infrastructure in the lab as a part of DevOps role. Securing the infrastructure and applications hosted by scanning them for vulnerabilities, penetration testing and fixing them as a part of security role. Also, have worked on building web based applications on Java and Python.</p>
        <div class="email-icon"><i class="fas fa-envelope-square fa-lg"></i></div>
		<p>adutta14@asu.edu</p>
        <div class="linkedin-github" >
		<a href="https://www.linkedin.com/in/abhishek-dutta-56347944/" target="_blank"> <i style="padding-right:10px;" class="fab fa-linkedin fa-2x"></i> </a>
		<a href="https://github.com/adutta14" target="_blank"> <i class="fab fa-github-square fa-2x"></i> </a>
		</div>
      </div>
    </div>
  </div>
  
    <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C4E03AQE91deyaZT9bQ/profile-displayphoto-shrink_800_800/0?e=1527490800&v=alpha&t=xDxDrTEX78GkSNnl8mJx9Itu3OV5hZxu4zGQX_NFt2k" alt="Chiraag Subramanian" style="width:100%">
      <div class="container">
        <h2>Chiraag Subramanian</h2>
        <p class="title">Fullstack Developer</p>
        <p>I am a Software Engineering graduate at Arizona State University majoring in Software Engineering. I have 3 years of work experience with Full-stack development.</p>
        <div class="email-icon"><i class="fas fa-envelope-square fa-lg"></i></div>
		<p>csubram2@asu.edu</p>
        <div class="linkedin-github" >
		<a href="https://www.linkedin.com/in/chiraag-subramanian-6b839b71/" target="_blank"> <i style="padding-right:10px;" class="fab fa-linkedin fa-2x"></i> </a>
		<a href="https://github.com/chiraag-subramanian" target="_blank"> <i class="fab fa-github-square fa-2x"></i> </a>
		</div>
      </div>
    </div>
  </div>
  
</div>


</body>
</html> 