 <!DOCTYPE html>
<html>
<head>
<title>About Us</title>
<link rel="stylesheet" type="text/css" href="AboutPage.css">
</head>
<body>




<div class="row">

<h2>About Us</h2>

<p>
	Show Me is proposed to be a community driven application with the goal to enable researchers find related work (citations in the papers) and help fellow researchers by providing feedback on the citations.
</p>

<p>
	In the field of research and discovery, it is often cumbersome for the researchers to browse through different research papers and keep track of relations between them. It takes a lot of time and effort to study the paper and explore the cited work, since the researchers may not understand the extent of relevancy of the cited papers without reading them. This may hinder the progress of their research work.
</p>

<p>
	Show Me is a web application which will allow the users to browse and navigate through different categories of research papers and visualize relations among them as a network graph. Nodes in the network graph represents the papers and the edges represents the relations between the papers. Users can provide their feedback for the relations between papers in the form of comments. They also have the option to upvote or downvote the relations as per their understanding. The application is directed to the researchers as end users in their research area.
</p>

<br>


<h2>Meet The Team</h2>
<br>
  <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C4E03AQHvKMW3611fCQ/profile-displayphoto-shrink_800_800/0?e=1527490800&v=alpha&t=vlEZcohnh97avodKRl-yjqjflKANqfvhoCwitOtTo5o" alt="Apoorv Khairnar" style="width:100%">
      <div class="container">
        <h2>Apoorv Khairnar</h2>
        <p class="title">CEO & Founder</p>
        <p>Software Engineering graduate student at Arizona State University proficient in containerization of linux tools / softwares, web server management, web applications development, efficient server implementation, effective handling of client-server communication, REST APIs development, database management and graphics pipeline, openGL, agile methods.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C5603AQHVnSzozphxAg/profile-displayphoto-shrink_800_800/0?e=1527487200&v=alpha&t=AGFtUPHrpUkg-PGYH3NO3o03YwRyRC9bS9DgGjC8qM4" alt="Pushkar Ladhe" style="width:100%">
      <div class="container">
        <h2>Pushkar Ladhe</h2>
        <p class="title">CEO & Founder</p>
        <p>A graduate student in Software Engineering with 2+ years of experience in developing robust applications using Java, Spring, Hibernate, REST and Microservices. Also, having advanced knowledge and hands-on experience in distributed computing using Hadoop, Spark, MapReduce, and Kafka. Worked on JavaScript frameworks like Node.js, Express.js, vue.js, and jQuery.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C4E03AQEz-hwy5edSBA/profile-displayphoto-shrink_200_200/0?e=1527487200&v=alpha&t=lp2eN47TtG9a6IRr_lzbkdc_-WKrfdy3qdJ4Q-5yzdY" alt="Rajat Sinha" style="width:100%">
      <div class="container">
        <h2>Rajat Sinha</h2>
        <p class="title">CEO & Founder</p>
        <p>Determined and self-motivated software engineering graduate student with 3 years of work experience in the field of Computer Vision software development. Skilled in OpenCV, EmguCV, C#, Python and JAVA programming as well as C/C++. I also possess functional knowledge of MATLAB and Android development and have worked with Agile methods.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
    <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C5603AQH7iOKdxzyvsg/profile-displayphoto-shrink_800_800/0?e=1527487200&v=alpha&t=ra6R5PEL9ifwGmg8tfnqjDiRr8JoV09QTYqRomX2Fi4" alt="Pranjal Karankar" style="width:100%">
      <div class="container">
        <h2>Pranjal Karankar</h2>
        <p class="title">CEO & Founder</p>
        <p>Software engineering graduate at Arizona State University. Prior joining ASU, I worked as an associate software engineer at Accenture and served client with best of my technical ability. My interests in graduate education include service oriented computing, model-driven software development, data structures and algorithms and software engineering processes and management.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
    <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C5603AQEPqWEh3C3siQ/profile-displayphoto-shrink_800_800/0?e=1527487200&v=alpha&t=Q_siM70vqztTVwlDLUFaj52RUX1VuB_wg2-pa0ULU3E" alt="Sachin Magar" style="width:100%">
      <div class="container">
        <h2>Sachin Magar</h2>
        <p class="title">CEO & Founder</p>
        <p>Software Engineering Graduate student with expertise in Java, Python and Web Development. Enthusiastic about Distributed Computing and Machine Learning. Software Engineering Graduate student with expertise in Java, Python and Web Development. Enthusiastic about Distributed Computing and Machine Learning. Something else too to be inserted here.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C5603AQHVIKhwLSb-WA/profile-displayphoto-shrink_800_800/0?e=1527490800&v=alpha&t=tljseVkiOg1AqFfeLbm82EITJ1pgTjtoZU2h-ln81hM" alt="Abhishek Dutta" style="width:100%">
      <div class="container">
        <h2>Abhishek Dutta</h2>
        <p class="title">CEO & Founder</p>
        <p>Software Engineering graduate Arizona State University. Currently, working on AWS to migrate the complete infrastructure in the lab as a part of DevOps role. Securing the infrastructure and applications hosted by scanning them for vulnerabilities, penetration testing and fixing them as a part of security role. Also, have worked on building web based applications on Java and Python.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
    <div class="column">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C4E03AQE91deyaZT9bQ/profile-displayphoto-shrink_800_800/0?e=1527490800&v=alpha&t=xDxDrTEX78GkSNnl8mJx9Itu3OV5hZxu4zGQX_NFt2k" alt="Chiraag Subramanian" style="width:100%">
      <div class="container">
        <h2>Chiraag Subramanian</h2>
        <p class="title">CEO & Founder</p>
        <p>I am a Software Engineering graduate at Arizona State University majoring in Software Engineering. I have 3 years of work experience with Full-stack development.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
</div>


</body>
</html> 