 <!DOCTYPE html>
<html>
<head>
<title>About Us</title>
<link rel="stylesheet" type="text/css" href="ContactPage.css">
</head>
<body>
  
	<div class="navigation-bar">
        <div id="navigation-container">
			<a>
				<img class="logo" src="showMeLogo.png">
			</a>
            <ul>
			  <li><a class="active" href="#home">Home</a></li>
			  <li><a href="#news">News</a></li>
			  <li><a href="#contact">Contact</a></li>
			  <li><a href="#about">About</a></li>
			</ul>
        </div>
    </div>
	
	<div id="page-content">
		<div id="map"></div>
		
		<div id="contact-us">
		
			<h1>Contact Us</h1>
			<i class="fal fa-envelope"></i>
			
			<h2>Don't hesitate to contact us</h2>
			
			<div id="contact-info">
				<b>Show Me Related Work</b>
				<p>Phone: +1 (0) 000 0000 001 </p>
				<p>Email: customer_support@showme.com</p>
			</div>
			
			<br/>
			
			<form action="https://formspree.io/rajatsjc@gmail.com" method="POST">
			  <input name="email" type="email" placeholder="Your email">
			  <br/>
			  <textarea name="message"  placeholder="Your message"></textarea>
			  <br/>
			  <button class="submit-button" type="submit">Send Message</button>
			</form>
		
		</div>
	</div>
	
    
    <script>
      function initMap() {
        var uluru = {lat: 33.424821, lng: -111.927902};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_mVy0e-Aw8R2ch7kVkm7BWJ3jVO61mXw&callback=initMap">
    </script>
  </body>
</html> 