 <!DOCTYPE html>
<html>
<head>
<title>About Us</title>
<link rel="stylesheet" type="text/css" href="ContactPage.css">
</head>
<body>




<div class="row">

<h2>About Us</h2>

<p>
	Show Me is proposed to be a community driven application with the goal to enable researchers find related work (citations in the papers) and help fellow researchers by providing feedback on the citations.
</p>

<p>
	In the field of research and discovery, it is often cumbersome for the researchers to browse through different research papers and keep track of relations between them. It takes a lot of time and effort to study the paper and explore the cited work, since the researchers may not understand the extent of relevancy of the cited papers without reading them. This may hinder the progress of their research work.
</p>

<p>
	Show Me is a web application which will allow the users to browse and navigate through different categories of research papers and visualize relations among them as a network graph. Nodes in the network graph represents the papers and the edges represents the relations between the papers. Users can provide their feedback for the relations between papers in the form of comments. They also have the option to upvote or downvote the relations as per their understanding. The application is directed to the researchers as end users in their research area.
</p>

<br>
  
</div>


</body>
</html> 