<template>
  <app-box class="md-elevation-5" v-bind:boxHeaderProp="feedbackBoxHeader" v-bind:cardStyle="cardStyle" v-bind:cardBlockStyle="cardBlockStyle"
    v-bind:cardBlockContentStyle="cardBlockContentStyle">
        <table class="table">
          <tbody>
            <tr>
              <div style="width:25%; margin-top:5px; float:left;">
                <td>
                  <i class="fa fa-thumbs-up" id="upvoteButton" style="font-size:24px; color:gray" v-on:click="userObject.authorized ? addRemoveUpvote():showErrMsg()"></i>
                </td>
                <td>
                  <span>
                    <b>{{this.upvotesCount}}</b>
                  </span>
                </td>
                <td>
                  <i class="fa fa-thumbs-down" id="downvoteButton" style="font-size:24px; color:gray" v-on:click="userObject.authorized ?addRemoveDownvote():showErrMsg()"></i>
                </td>
                <td>
                  <span>
                    <b>{{this.downvotesCount}}</b>
                  </span>
                </td>
              </div>
            </tr>
            <tr>
              <td>Source Paper</td>
              <td>{{this.sourceName}}</td>
            </tr>
            <tr>
              <td>Destination Paper</td>
              <td>{{this.destinationName}}</td>
            </tr>
            <tr>
              <td>Weight</td>
              <td>{{this.upvotesCount - this.downvotesCount}}</td>
            </tr>
          </tbody>
        </table>


    <ul class="list-group" style="max-height:300px; overflow-y:auto;">
      <li style="padding-left:5px; " v-for="com in comments">
        <span style="color:green; font-weight:bold;"> {{com.username}}</span>&ensp;
        <br/>
        <span style="color:#696969;font-weight:bold;">{{ getTimeStamp(com.timestamp) }}</span>&ensp;&ensp; {{com.comment}}
        <hr />
      </li>
    </ul>
    <div style="width:80%; padding:10px">
      <div style="width:90%; margin-right:25px;float:left;padding:10px">
        <textarea v-model="user_comment" class="form-control" type="text" rows="1" style="height:90%; " placeholder="Your comments"
        />
        <md-button style="color:#fff;background-color:#3dbd5d" v-on:click="userObjTemp.authorized ?(user_comment!=''?addComment():showTextErrMsg()):showErrMsg()">Comment</md-button> &nbsp;
      </div>
    </div>
  </app-box>
</template>
