<div id="navigation" class="navbar navbar-default customNav">
    <div class="header">
        <a href="/">
            <img width="60" height="60" hspace="20" src="./LogoMakr_9i2uuu.png" />
        </a>
        <div id="login">
            <button type="button" v-if="!userObjTemp.authorized" class="btn btn-default btn-sm" @click="login()">
                <span class="glyphicon glyphicon-home"></span> Sign In
                <i class="fas fa-sign-in-alt"></i>
            </button>
            <md-menu md-align-trigger v-if="userObjTemp.authorized">
                <img :src="userObjTemp.picture" class="md-icon-button" md-menu-trigger>
                <md-tooltip md-direction="bottom">{{userObjTemp.given_name}}</md-tooltip>
                <md-menu-content>
                    <md-menu-item>
                        <span>
                            <b>Hi, {{userObjTemp.given_name}}</b>
                        </span>
                    </md-menu-item>
                    <a href="#" @click="ProfileDialogue = true">
                        <md-menu-item>
                            <span>
                                <b>Profile</b>
                            </span>
                        </md-menu-item>
                    </a>
                    <a href="/" @click="logout()">
                        <md-menu-item>
                            <span>
                                <b>Sign Out</b>
                            </span>
                        </md-menu-item>
                    </a>
                </md-menu-content>
            </md-menu>
            <md-dialog-alert :md-active.sync="ProfileDialogue" :md-title="userName" md-content="<h6>First Name:</h6> </br><h6>Last Name:</h6></br><h6>Email:</h6>"
            />
        </div>
    </div>
</div>