<div class="card card-outline-info ">
          <div class="card-header">Research Areas</div>
          <div class="card-block">
                  <ul class="list-group">
                          <li class="list-group-item"><a href="#section1">Software Engineering</a><span class="badge badge-primary ml-2">1K</span></li>
                          <li class="list-group-item"><a href="#section2">Distributed Systems</a><span class="badge badge-primary ml-2">650</span></li>
                          <li class="list-group-item"><a href="#section3" >Machine Learning</a><span class="badge badge-primary ml-2">950</span></li>
                          <li class="list-group-item"><a href="#section4">Software Security</a><span class="badge badge-primary ml-2">750</span></li>
                  </ul>
                  
          </div>
</div>          
 