<div class="card card-outline-info ">
    <div class="card-header">
       Info Box
    </div>
    <div class="card-block">
       <ul class="list-group">
          <li class="list-group-item info-box"><span class="text-info">Title: </span>&nbsp;<span>Induction of Decision Trees Induction of Decision Trees</span></li>
          <li class="list-group-item info-box"><span class="text-info">Author(s): </span>&nbsp;<span>J. Ross Quinlan</span></li>
          <li class="list-group-item info-box"><span class="text-info"># Citations: </span>&nbsp;<span>10</span></li>
          <li class="list-group-item info-box"><a href="https://www.semanticscholar.org/paper/Induction-of-Decision-Trees-Quinlan/6b17827b6e2563f10b53b8b37c95f5af5415c556">View paper</a></li>
       </ul>
    </div>
 </div>