<!-- Fixed navbar -->
<div id="navigation" class="navbar navbar-default ">
    <div class="container">
       <div class="navbar-header">
          <a class="navbar-brand" href="#">SHOW ME</a>
       </div>
       <app-header></app-header>
    </div>
 </div>
 <!--  Main -->
 <div id="main">
    <div class="container-fluid">
       <div class="row content" style="height:50%;">
          <div class="col-md-3">
             <app-research-areas></app-research-areas>
          </div>
          <div class="col-md-9">
             <app-details></app-details>
          </div>
       </div>
       <div class="row" style="height:20%;">
          <div class="col-md-3">
             <app-info-box></app-info-box>
          </div>
          <div class="col-md-9">
             <app-feedback></app-feedback>
          </div>
       </div>
    </div>
 </div>